<!-- products.hbs
//     Citation for the following function:
//     Date: 5/6/2024
//     Copied from /OR/ Adapted from /OR/ Based on:
//     Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div class = "top">
    <h1>Products</h1>
    <p>Browse Product Information:</p>
</div>
<fieldset>
{{!-- Create a table --}}
<table id="product-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr data-value={{this.product_id}}></tr>
            <td>{{this.product_id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.genre}}</td>
            <td>{{this.release_date}}</td>
            <td>${{this.price}}</td>
            <td>{{this.discount_id}}</td>
            <td><button onclick="deleteProduct({{this.product_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_product.js"></script>

<form id="search-product-html" method='GET' action='/products'>
        <label for="input-title">Search Product: </label>
        <input type="text" name="title" id="input-title-html-search">
        
        <p><input type="submit" value="Search">
        <a href='/products'><button>Reset</button></a>
        </p>
    </form>
</fieldset>
<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<fieldset>
<h2>Add Product Data</h2>
<form id="add-product-form-ajax">
    <p><label for="input-title">Product:</label>
        <input type="text" id="input-title" required placeholder ="Product Name"/>
        </p>
        <p> <label for="input-description"> Description</label>
            <textarea name="input-description" id="input-description" maxlength="250" required placeholder="Maximum 250 characters."></textarea>
        </p> 
        <p><label for="input-genre">Genre:</label>
            <input type="text" id="input-genre" required placeholder ="Genre"/>
        </p>
        <p><label for="input-release_date">Release Date:</label>
            <input type="date" id="input-release_date" name="input-release_date" required/>
        </p>
        <p><label for="input-price">Price($):</label>
            <input type="number"
                id="input-price"
                name="input-price"
                min="0"
                value="0.00"
                step="0.01"
                required
            />
        </p>
        

        <p><label for="input-discount_id">Discount ID: </label>
        <select name="input-discount_id" id="input-discount_id">
        {{!-- <option value="">NULL</option> --}}
        <option>Select a Discount ID</option>
        {{#each discount}}
        <option value="{{this.discount_id}}">{{this.discount_id}} ({{this.discount_name}})</option>
        {{/each}}
    </select></p>

    <p><input type="submit"> </p>
</form>
</fieldset>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_product.js"></script>